<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lib.ailibrary.domain.book.BookLikeMapper">

    <!-- tb_book 테이블 전체 컬럼 -->
    <sql id="bookLikeColumns">
        like_id
        , user_stu_id
        , book_id
    </sql>

    <select id="isUserLikeBook" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_like
        WHERE
        user_stu_id = #{userStuId} AND book_id = #{bookId}
    </select>

    <!-- 도서 찜하기 기능 -->
    <insert id="isLike" parameterType="com.lib.ailibrary.domain.book.BookLikeRequest">
        INSERT INTO tb_like (
            <include refid="bookLikeColumns"></include>
        ) VALUES (
          #{userStuId}
          , #{bookId}
        )
    </insert>

    <!-- 찜하기 해제 기능 -->
    <delete id="unlike" parameterType="int">
        DELETE
        FROM
        tb_like
        WHERE
        user_stu_id = #{userStuId} AND book_id = #{bookId}
    </delete>
</mapper>