<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lib.ailibrary.domain.book.BookReserveMapper">

    <!-- tb_book_rez 테이블 전체 컬럼 -->
    <sql id="bookRezColumns">
        book_rez_id
        , user_id
        , book_id
        , book_rez_date

    </sql>


    <!-- 예약 정보 저장 -->
    <insert id="save" parameterType="com.lib.ailibrary.domain.book.BookReserveRequest">
        INSERT INTO tb_book_rez (
        <include refid="bookRezColumns"></include>
        ) VALUES (
        #{bookRezId}
        , #{userId}
        , #{bookId}
        , #{bookRezDate}
        )
    </insert>


    <!-- 예약 정보 조회 -->
    <select id="findById" parameterType="long" resultType="com.lib.ailibrary.domain.book.BookReserveResponse">
        SELECT
            <include refid="bookRezColumns"></include>
        FROM
            tb_book_rez
        WHERE
            book_rez_id = #{value}
    </select>


    <!-- 예약 정보 수정 (보류) -->
    <update id="update" parameterType="com.lib.ailibrary.domain.book.BookReserveRequest">
    </update>


    <!-- 예약 정보 삭제 or 취소 -->
    <delete id="deleteById" parameterType="long">
        DELETE
        FROM
            tb_book_rez
        WHERE
            book_rez_id = #{bookRezId}
    </delete>


    <!-- 예약 내역 조회 -->
    <select id="findAll" resultType="com.lib.ailibrary.domain.book.BookReserveResponse">
        SELECT
            <include refid="bookRezColumns"></include>
        FROM
            tb_book_rez
        ORDER BY
            book_rez_id DESC
    </select>

    <!-- 예약 되어있는 도서인지 확인 -->
    <select id="checkReserve" parameterType="int" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_book_rez
        WHERE
            book_id = #{bookId}
    </select>

    <!-- 예약 취소 기능 -->
    <delete id="cancelReserve" parameterType="java.util.List">
        DELETE
        FROM
            tb_book_rez
        WHERE book_id IN
        <foreach item="bookId" collection="list" open="(" separator="," close=")">
             #{bookId}
        </foreach>
    </delete>

    <!-- 사용자가 예약 중인 도서 조회 기능 -->
    <select id="checkBookReserve" parameterType="string" resultType="com.lib.ailibrary.domain.book.BookReserveResponse">
        SELECT
            A.book_id, A.book_title, A.book_image, B.book_rez_date
        FROM
            tb_book A
        LEFT JOIN
            tb_book_rez B ON A.book_id = B.book_id
        WHERE
            B.user_id = #{userId}
    </select>
</mapper>