<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lib.ailibrary.domain.book.BookLoanMapper">

    <!-- tb_book_loan 테이블 전체 컬럼 -->
    <sql id="bookLoanColumns">
        book_loan_id
        , user_id
        , book_id
        , loan_date
        , return_date
        , return_state

    </sql>


    <!-- 예약 정보 저장 -->
    <insert id="save" parameterType="com.lib.ailibrary.domain.book.BookLoanRequest" useGeneratedKeys="true" keyProperty="bookLoanId">
        INSERT INTO tb_book_loan (
        <include refid="bookLoanColumns"></include>
        ) VALUES (
        #{bookLoanId}
        , #{userId}
        , #{bookId}
        , CURDATE()
        , DATE_ADD(CURDATE(), INTERVAL 2 WEEK)
        , '대출 중'
        )
    </insert>


    <!-- 예약 정보 조회 -->
    <select id="findById" parameterType="long" resultType="com.lib.ailibrary.domain.book.BookLoanResponse">
        SELECT
        <include refid="bookLoanColumns"></include>
        FROM
        tb_book_loan
        WHERE
        book_loan_id = #{value}
    </select>


    <!-- 예약 정보 수정 (보류) -->
    <update id="update" parameterType="com.lib.ailibrary.domain.book.BookReserveRequest">
    </update>


    <!-- 예약 정보 삭제 or 취소 -->
    <delete id="deleteById" parameterType="long">
        DELETE
        FROM
        tb_book_loan
        WHERE
        book_loan_id = #{bookLoanId}
    </delete>


    <!-- 타인의 도서 대출 상태 -->
    <select id="checkBookLoan" parameterType="int" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_book_loan
        WHERE
            book_id = #{bookId}
    </select>

    <!-- 본인의 도서 대출 상태 체크 -->
    <select id="checkBook" parameterType="map" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_book_loan
        WHERE
            user_id = #{userId, jdbcType=VARCHAR} AND book_id = #{bookId, jdbcType=INTEGER}
    </select>

    <!-- 본인이 도서 몇 권을 대여했는지 -->
    <select id="checkBookCount" parameterType="string" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_book_loan
        WHERE
            user_id = #{userId}
    </select>

    <!-- 도서 반납 -->
    <delete id="checkBookReturn" parameterType="map">
        DELETE
        FROM
            tb_book_loan
        WHERE
            user_id = #{userId, jdbcType=VARCHAR} AND book_id = #{bookId, jdbcType=INTEGER}
    </delete>

    <select id="getReturnDate" parameterType="map" resultType="java.time.LocalDate">
        SELECT
            return_date
        FROM
            tb_book_loan
        WHERE
            user_id = #{userId, jdbcType=VARCHAR} AND book_id = #{bookId, jdbcType=INTEGER}
    </select>

    <select id="checkBookLoaning" parameterType="string" resultType="com.lib.ailibrary.domain.book.BookLoanResponse">
        SELECT
            A.book_id AS bookId, A.book_title AS bookTitle, A.book_image AS bookImage, B.return_date AS returnDate
        FROM
            tb_book A
        LEFT JOIN
            tb_book_loan B ON A.book_id = B.book_id
        WHERE
            B.user_id = #{userId}
    </select>

</mapper>