<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lib.ailibrary.domain.notification.NotificationMapper">

    <!-- tb_notification 테이블 전체 컬럼 -->
    <sql id="notificationColumns">
          noti_id
        , user_stu_id
        , noti_content
        , noti_time
    </sql>

    <!-- 알림 정보 저장 -->
    <insert id="save" parameterType="com.lib.ailibrary.domain.notification.NotificationRequest" useGeneratedKeys="true" keyProperty="notiId">
        INSERT INTO tb_notification (
            <include refid="notificationColumns"></include>
        ) VALUES (
                #{notiId}
              , #{userStuId}
              , #{notiContent}
              , #{notiTime}
        )
    </insert>

    <!-- 알림 내역 조회 -->
    <select id="findById" parameterType="long" resultType="com.lib.ailibrary.domain.notification.NotificationResponse">
        SELECT
            <include refid="notificationColumns"></include>
        FROM
            tb_notification
        WHERE
            user_stu_id = #{value}
        ORDER BY
            noti_time DESC
    </select>

    <!-- 알림 삭제 -->
    <update id="deleteById" parameterType="long">
        UPDATE
            tb_notification
        SET
            read_check = 1
        WHERE
            noti_id = #{value}
    </update>

    <!-- 읽지(삭제되지) 않은 알림 개수 -->
    <select id="count" parameterType="long">
        SELECT
            count(*)
        FROM
            tb_notification
        WHERE
            user_stu_id = #{value} and read_check = 0
    </select>
</mapper>