<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lib.ailibrary.domain.review.ReviewMapper">

    <!-- tb_review 테이블 전체 컬럼 -->
    <sql id="reviewColumns">
        review_id
        , user_stu_id
        , book_id
        , review
    </sql>

    <!-- 전체 리뷰 조회 -->
    <select id="findReview" resultType="com.lib.ailibrary.domain.review.ReviewResponse">
        SELECT
            <include refid="reviewColumns"></include>
        FROM
            tb_review
    </select>

    <!-- 해당 도서 리뷰 조회 -->
    <select id="findReviewByBookId" parameterType="int" resultType="com.lib.ailibrary.domain.review.ReviewResponse">
        SELECT
            <include refid="reviewColumns"></include>
        FROM
            tb_review
        WHERE
            book_id = #{bookId}
    </select>

    <!-- 리뷰 정보 저장 -->
    <insert id="saveReview" parameterType="com.lib.ailibrary.domain.review.ReviewRequest" useGeneratedKeys="true" keyProperty="reviewId">
        INSERT INTO tb_review (
        <include refid="reviewColumns"></include>
        ) VALUES (
        #{reviewId}
        , #{userStuId}
        , #{bookId}
        , #{review}
        )
    </insert>

    <!-- 리뷰 수정 -->
    <update id="updateReview" parameterType="com.lib.ailibrary.domain.review.ReviewRequest">
        UPDATE
            tb_review
        SET
            review = #{review}
        WHERE
            user_stu_id = #{userStuId, jdbcType=BIGINT} AND book_id = #{bookId, jdbcType=INTEGER}
    </update>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview" parameterType="map">
        DELETE
        FROM
            tb_review
        WHERE
        user_id = #{userId, jdbcType=VARCHAR} AND book_id = #{bookId, jdbcType=INTEGER}
    </delete>
</mapper>