<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lib.ailibrary.domain.room.RoomImageMapper">

    <!-- tb_room 전체 컬럼-->
    <sql id="roomImageColumns">
          room_id
        , room_type
        , room_floor
        , room_name
        , image
    </sql>

    <!-- 시설 정보 저장 -->
    <insert id="save" parameterType="com.lib.ailibrary.domain.room.RoomImageRequest">
        INSERT INTO tb_room (
            <include refid="roomImageColumns"></include>
        ) VALUES (
              #{roomId}
            , #{roomType}
            , #{roomFloor}
            , #{roomName}
            , #{image}
        )
    </insert>
</mapper>