<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lib.ailibrary.domain.user.UserMapper">

    <!-- tb_user 테이블 전체 컬럼 -->
    <sql id="userColumns">
          user_stu_id
        , user_name
        , user_major
        , user_email
        , user_pnum
        , user_id
        , user_pw
        , user_grade
    </sql>


    <!-- 회원 정보 수정 -->
    <update id="update" parameterType="com.lib.ailibrary.domain.user.UserRequest">
        UPDATE tb_users
        SET
            user_name = #{userName}
          , user_major = #{userMajor}
          , user_email = #{userEmail}
          , user_pnum = #{userPnum}
          , user_grade = #{userGrade}
          <if test="user_pw != null and user_pw != ''">
          , user_pw = #{userPw}
          </if>
        WHERE
            user_stu_id = #{userStuId}
    </update>

    <!-- 회원 정보 삭제 (회원 탈퇴) -->
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM
            tb_users
        WHERE
            user_stu_id = #{userStuId}
    </delete>

    <!-- 회원 수 카운팅 (ID 중복 체크) -->
    <select id="countByLoginId" parameterType="string" resultType="int">
        SELECT
            count(*)
        FROM
            tb_users
        WHERE
            user_id = #{user_id}
    </select>

    <!-- 회원 전화번호 가져오기 -->
    <select id="findPNumById" parameterType="long" resultType="string">
        SELECT
            user_pnum
        FROM
            tb_users
        WHERE
            user_stu_id = #{value}
    </select>

</mapper>